/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #6C00D9;
  --color-secondary: #404040;
  --color-tertiary:#3C0178;
}

body{
  display: grid;
  grid-gap: 1em;
  
}