main {
  box-sizing: border-box;
  margin-bottom: 400px;
}


.content{
  margin-top: 70px ;
  align-content: center;
  justify-content: center;


}
.checkout {
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.text {
  font-size: 20px;
  max-width: 700px;
  text-align: center;
  line-height: 25px;  
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
}

.button {
 display: flex;
 justify-content: center;
 margin: 50px;
}
  
.watch-button {
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  align-self: flex-end;
}
    
  
.button a:hover {
  background-color: var(--color-tertiary);
 }

 @media (max-width: 768px) {
  main {
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .checkout {
    font-size: 32px;
  }
 }