

.checkout-container{
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.h1 {
  font-size: 48px;
  text-align: center;
}
.p {
  font-size: 16px;
  max-width: 700px;
  text-align: center;
  line-height: 22px;  
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
}





.watch-button {
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
  align-self: flex-end;
}
  

  .button a:hover {
    background-color: var(--color-tertiary);
  }