
main {
  margin: 30px;
}




/* -------------------contentcard background -----------------*/


.banner {
  width: 100%;
  max-width: 1236px;
  height: 600px;
  min-height: 300;
  border-radius: 20px;
  background-image: url(/assets/images/sweetheart_card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;



}
.banner2 {
    width: 100%;
    max-width: 1236px;
    height: 600px;
    min-height: 300;
    border-radius: 20px;
    background-image: url(/assets/images/tyson-moultrie-BQTHOGNHo08-unsplash_movie_posters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
}

/* Banner content */
.banner-content {
  max-width: 800px; 
  margin-left: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 5);

 
}

.banner  h1 {
  font-size: 3em;
  max-width: 500px;
  margin-top: 30px;
}

.banner p {
  font-size: 1.2em;
  max-width: 400px;
}
.banner2  h1 {
    font-size: 3em;
    max-width: 500px;
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 5);
  }
  
.banner2 p {
    font-size: 1.2em;
    max-width: 400px;
}



/* Responsive adjustments */
@media (max-width: 1200px) {
  .banner {
    max-width: 1100px;
    margin: 0px auto; 
  }

  .banner2 {
    max-width: 1100px;
    margin: 0px auto; 
  }
}

@media (max-width: 768px) {
  .banner {
    height: 400px;
   
  }
  .banner h1 {
    font-size: 2em;
    
   
  }
  .banner p {
    font-size: 1em; 
  }

  .banner2 {
    height: 400px;
    
  }
  .banner2 h1 {
    font-size: 2em;
    
  }
  .banner2 p {
    font-size: 1em; 
  }
}

@media (max-width: 500px) {
  .banner {
    height: 300px; 
  }
  .banner h1 {
    font-size: 1.5em;
    max-width: 200px;
    
  }
  .banner p {
    font-size: 0.9em; 
    max-width: 150px;
  }

  .banner2 {
    height: 300px; 
  }

  .banner2 h1 {
    font-size: 1.5em;
    max-width: 250px;
    margin-right: 70px;
    
  }
  .banner2 p {
    font-size: 0.9em; 
    max-width: 150px;
  }
}







/* -------------------contentcard background -----------------*/

/* --------------------------searchbar -----------------------*/
.search-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 600px;
  border: 2px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  margin: 50px auto;
  background-color: var(--color-secondary);
  height: 50px;

}

.menu{
width: 65%;
display: flex;
justify-content: left;
margin-left: 50px;
color: #fff;

}

.menu a {
  color: #fff;
}
form {
  position: relative;
}
/* Styling for the search bar */
#search-bar {
  border: none;
  outline: none;
  padding: 7px 15px;
  font-size: 16px;
  flex-grow: 1;
  max-width: 200px;
  border-radius: 20px;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  background-color: rgb(43, 41, 48);
  align-items: right;
  display: block;
  margin-right: 2px;
  margin-left: 5px;
}

/* Styling for the search button */
#search-button {
  /* position: absolute;
  top: 0;
  right: 0; */
  color: white;
  border: none;
  outline: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  margin-right: 30px;
}

#search-button:hover {
  background-color: var(--color-tertiary);
}
@media (max-width:500px) {
  .menu {
    margin-left: 12px;
    font-size: 0.9rem;
  }
  #search-button {
    margin-right: 12px;
  }
}
  /* --------------------------searchbar -----------------------*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    background-color: var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 20px;
    max-width: 262px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .content-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin: 10px 10px 10px 10px;
  }
  
  .card-description {
    font-size: 16px;
    color: #fff;
    margin: 10px 10px 10px 10px;
    flex-grow: 1;
  }
  
  .card-button {
    display: inline-block;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-left: auto;
    align-self: flex-end;
  }
  
  .card-button:hover {
    background-color: var(--color-tertiary);
  }
  
  @media (max-width: 750px) {
    .card {
        max-width: 182px;
        margin: 8px;
    }
    .card-title {
        font-size: 20px;
        margin: 2px;
    }
    .card-description {
        font-size: 14px;
    }
  }