





/* ----------------------searchbar -------------------*/

.search-container {
  display: flex;
  align-items: center;
  
  max-width: 600px;
  border: 2px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  margin: 50px auto;
  background-color: var(--color-secondary);
  height: 50px;

}

.menu{
  width: 65%;
  display: flex;
  justify-content: left;
  margin-left: 50px;
  color: #fff;

}

.menu a {
  color: #fff;
}
form {
  position: relative;
}

#search-bar {
  border: none;
  outline: none;
  padding: 7px 15px;
  font-size: 16px;
  flex-grow: 1;
  max-width: 200px;
  border-radius: 20px;
  
  background-color: rgb(43, 41, 48);
  align-items: right;
  display: block;
  margin-right: 2px;
  margin-left: 5px;
}

#search-button {
  
  color: white;
  border: none;
  outline: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  margin-right: 30px;
}

#search-button:hover {
  background-color: var(--color-tertiary);
}
/* put in a when clicked effect here on button */


@media (max-width:500px) {
  .menu {
    margin-left: 12px;
    font-size: 0.9rem;
  }
  #search-button {
    margin-right: 12px;
  }
}

/* ----------------------searchbar -------------------*/


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 20px; */
  }
  
  .card {
    background-color: var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 20px;
    max-width: 262px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .content-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin: 10px 10px 10px 10px;
  }
  
  .card-description {
    font-size: 16px;
    color: #fff;
    margin: 10px 10px 10px 10px;
    flex-grow: 1;
    position: relative;

  }
  
  .card-button {
    display: inline-block;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-left: auto;
    align-self: flex-end;
  }
  
  .card-button:hover {
    background-color: var(--color-tertiary);
  }
  

  @media (max-width: 750px) {
    .card {
        max-width: 182px;
        margin: 8px;
    }
    .card-title {
        font-size: 20px;
        margin: 2px;
    }
    .card-description {
        font-size: 14px;
    }
  }