/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */



/* body {
  font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}
---------------NAV BAR---------------------------------------
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  background: rgb(83, 83, 83); 
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  background-color: blue; 
  height: 2em ; 
  display: flex;
  justify-content: center;
}

nav {
  position: absolute; 
  background: rgb(83, 83, 83); 
  left: 0px;
  max-height: 4em;
  width: fit-content;
  background-color: #404040;
}

nav a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
}



@media (min-width: 600px) {
  header {
    display: flex;

  }
  nav {
    display: flex;
    position: static;
    justify-self: left;
    background-color: bisque;
     }

  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }

  label {
    justify-self: left;
    background-color: aquamarine;
  }
  
.hamburger-center {
  background-color: lightblue;
}
}
 ------------NAV BAR END--------------------------------------

.logo {
  width: 652px;
  height: 344px;

}

.contentcard2 {
  width: 1236px;
  height: 500px;
  border-radius: 20px;
  background-image: url(/assets/images/tyson-moultrie-BQTHOGNHo08-unsplash_movie_posters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

footer {
  background: #404040;
  Padding-top: 50px;
}

.container {
  width: 1440px;
  margin: auto;
  justify-content: center;
}

.footer {
  width: 33.3%;
  float: left;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p {
  background-color: #404040;
  width: 190px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
}

.list li {
  width:auto;
  text-align: center;
  list-style-type: none;
  padding: 7px
  
}

.list li::before {

} */