/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */



body {
  font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}
.logo {
 width: 500px;

}

.logo-center {
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 30px 0px;
}

/*---------------NAV BAR---------------------------------------*/

header {
  background-color: aqua;
  display:flex;
  justify-content: space-between;
  align-items: center;
  

}
.nav_logo {
  height: 40px;
}

nav {
  display: none;
}


/* nav {
  background-color: bisque;
  width: 30em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



#menu-checkbox {
  display: none;
}

nav a {
 text-decoration: none;
} */

@media (min-width: 600px) {
  header {
    display: flex;
    justify-items: center;

  }
  nav {
    display: flex;
    position: static;
    justify-self: left;
    background-color: bisque;
     }

  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
  }

  label {
    justify-self: left;
    background-color: aquamarine;
  }
  
.hamburger-center {
  background-color: lightblue;
}
}


.contentcard1 {
  width: 1236px;
  height: 600px;
  border-radius: 20px;
  background-image: url(/assets/images/sweetheart_card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.contentcard2 {
  width: 1236px;
  height: 600px;
  border-radius: 20px;
  background-image: url(/assets/images/tyson-moultrie-BQTHOGNHo08-unsplash_movie_posters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}